[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pycocotools = "*"
cython = "*"
tqdm = "*"
requests = "*"
pandas = "*"
tensorflow = "*"
"h5py" = "*"
jupyter = "*"
notebook = "*"
jupyter-core = "*"
nltk = "*"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
rope = "*"

[requires]
python_version = "3.6"
